---
---
@charset "utf-8";

$primary: #188eac !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

/* Set custom variables before importing Bulma */
@import "variables";

@import "bulma/bulma.sass";

$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "home";
@import "orderreq";
@import "consumer";
@import "retail";
@import "products";
@import "products-gummis";

.navbar-menu.sticky a.navbar-item {
    margin-left: 25px;
    
}
.navbar-menu.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: #000;
    z-index: 999;
    margin: 0px !important;
    top:0;
}