---
---
@font-face {
  font-family: 'Custom_MarkPro';
  src: url('fonts/MarkPro.eot');
  src: local('☺'), url('../fonts/MarkPro.woff') format('woff'), url('../fonts/MarkPro.ttf') format('truetype'), url('../fonts/MarkPro.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Custom_MarkPro';
  src: url('../fonts/MarkPro-Bold.eot');
  src: local('☺'), url('../fonts/MarkPro-Bold.woff') format('woff'), url('../fonts/MarkPro-Bold.ttf') format('truetype'), url('../fonts/MarkPro-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
.body-guac-nav {
  background: #191919 0% 0% no-repeat padding-box;
  margin-top: 114px;
  padding: 14px 0px;
  box-shadow: 0px 2px 2px #00000029;
  img {
    object-fit: cover;
    padding: 0px;
    position: inherit;
    margin-top: -110px;
    bottom: -59px;
    width: 213px !important;
    min-height: 213px !important;
  }
  .navbar-brand {
    justify-content: center;
    width: 100%;
    height: 83px;
  }
}
section {
  &.body-guac-content-main {
    h5 {
      letter-spacing: 3.2px;
      color: #191919;
      font-size: 16px;
      font-family: Custom_MarkPro;
      text-align: center;
      font-weight: 100;
      margin-top: 80px !important;
      display: block;
    }
    h2 {
      &.title {
        font-family: Custom_MarkPro;
        text-align: center;
        letter-spacing: 7.2px;
        color: #A1AD30;
        padding-top: 5px;
        margin-bottom: 36px;
      }
    }
    img {
      width: 450px;
      height: 450px;
      margin: 0 auto;
    }
  }
}
section {
  &.body-guac-content-main {
    p {
      text-align: center;
      font: normal normal normal 16px/24px Custom_MarkPro;
      letter-spacing: 0px;
      color: #191919;
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
section {
  &.body-guac-content-main {
    .col-md-12 {
      padding-bottom: 0px;
    }
    p {
      margin-bottom: 0px !important;
    }
  }
}
.body-guac-comingsoon-sec {
  background-color: #191919;
  padding-bottom: 90px;
  padding-top: 60px;
  margin-top: 70px;
  h1 {
    text-align: center;
    font: normal normal bold 32px/42px Custom_MarkPro;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      border: 0.5px solid #AAD131;
      bottom: 0;
      width: 380px;
      background-color: #AAD131;
      margin: 0 auto;
    }
  }
  p {
    text-align: center;
    font: normal normal normal 16px/24px  Custom_MarkPro;
    letter-spacing: 0px;
    color: #FFFFFF;
    max-width: 375px;
    margin: 0 auto;
    margin-top: 30px;
    input {
      width: 203px;
      height: 44px;
      background: #F4F4F4 0% 0% no-repeat padding-box;
      border: 1px solid #B7B7B7;
      border-radius: 0px;
    }
    a {
      button {
        width: 108px !important;
        height: 44px !important;
        background: #A1AD30 0% 0% no-repeat padding-box !important;
        border-radius: 0px;
        text-align: left;
        font: normal normal bold 12px/41px Custom_MarkPro;
        letter-spacing: 0px;
        color: #191919 !important;
        text-transform: uppercase;
        border: 0px solid #A1AD30 !important;
        margin-left: 3px;
      }
    }
  }
}
.body-guas-footer-main {
    padding-top: 20px !important;
    padding-bottom: 50px !important;
}
.body-guas-footer-main {
  .footer-copyright-sec {
    border: 0;
    margin-top: 0 !important;
  }
}
@media (max-width: 768px) {
.body-guac-nav img {
    margin-left: auto;
    margin-right: auto;
}  
.body-guac-nav a.navbar-item {
    width: 100%;
}
.body-guac-nav a.navbar-burger {
    display: none;
}
}
@media (max-width: 767px) {
.body-guac-comingsoon-sec h1:before {
    max-width: 100%;
}
.body-guac-comingsoon-sec p input {
    width: 100%;
    margin-bottom: 20px;
}
section.body-guac-content-main p {
    font-size: 14px;
}
.body-guac-comingsoon-sec p {
    font: normal normal normal 14px/24px Custom_MarkPro;
    max-width: 100%;
}
section.body-guac-content-main img {
    width: 250px;
    height: 250px;
}
.body-guac-comingsoon-sec h1 {
    font: normal normal bold 24px/42px Custom_MarkPro;
      padding-bottom: 10px;
}
.body-guac-comingsoon-sec {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px;
}
section.body-guac-content-main h5 {
    letter-spacing: 2.2px;
    font-size: 14px;
    margin-top: 20px !important;
    line-height: 28px;
}
section.body-guac-content-main h2.title {
    letter-spacing: 3.2px;
    font-size: 20px;
}
.body-guac-nav img {
    width: 150px !important;
    min-height: 150px !important;
}
.body-guac-nav {
    margin-top: 50px;
}
}  

