---
---
section {
	&.about-banner-section {
		background: url('../images/bg-delta-triangles-pattern.png');
		background-position: 50% 100%;
		background-repeat: no-repeat;
		padding-top: 60px;
		padding-bottom: 10px;
		background-size: 100%;
	}
}
section {
	&.about-banner-section {
		p {
			text-align: left;
			letter-spacing: 1.6px;
			color: #919191;
			font-size: 16px;
			line-height: 24px;
		}
		h1 {
			letter-spacing: 0px;
			color: #191919;
			font-size: 30px;
			line-height: 40px;
		}
		button {
			&.is-info {
				width: 194px;
				height: 48px;
				background: #648EC3 0% 0% no-repeat padding-box;
				border-radius: 24px !important;
				text-align: left;
				letter-spacing: 0px;
				color: #FFFFFF;
				font-size: 20px;
				line-height: 51px;
				box-shadow: 0px 2px 0px #4f73a0;
				border: 0px;
			}
		}
		.is-7 {
			padding: 50px 0px 0px 130px;
		}
	}
}
section.about-banner-section button.is-info:hover, section.about-banner-section button.is-info:focus {
	background: #4f73a0;
}
section {
	&.featured-product-categories {
		background: #191919 0% 0% no-repeat padding-box;
		padding: 100px 0px 115px 0px !important;
		h1 {
			text-align: left;
			letter-spacing: 0px;
			color: #FFFFFF;
			font-size: 30px;
			line-height: 40px;
			position: relative;
			width: max-content;
			margin: 0 auto;
			margin-bottom: 50px !important;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				border: 0.5px solid #AAD131;
				bottom: 4px;
				width: 100%;
				background-color: #AAD131;
			}
		}
	}
}
section {
	&.featured-product-categories {
		.columns {
			h3 {
				text-align: left;
				letter-spacing: 0px;
				color: #FFFFFF;
				font-size: 20px;
				line-height: 40px;
			}
		}
		button {
			width: 238px;
			height: 48px;
			background: #648EC3 0% 0% no-repeat padding-box !important;
			border-radius: 24px;
			text-align: center;
			letter-spacing: 0px;
			color: #FFFFFF;
			font-size: 20px;
			line-height: 51px;
			box-shadow: 0px 2px 0px #4f73a0;
			border: 0px;
			margin-top: 20px;
		}
	}
}
section {
	&.featured-product-categories {
		.columns {
			.card {
				border-radius: 30px;
			}
		}
	}
}
section {
	&.featured-product-categories {
		.columns {
			.card {
				.card-content {
					padding: 0px;
					img {
						width: 100%;
						object-fit: cover;
						display: flex;
					}
				}
			}
		}
	}
}
button:hover, button:focus {
	background: #4f73a0 !important;
}
section {
	&.about-navbar {
		img {
			margin: 0 auto;
			display: block;
			margin-bottom: 30px;
		}
	}
}
section {
	&.about-navbar {
		.menu {
			ul {
				li {
					&.is-active {
						a {
							&:before {
								content: "";
								bottom: -7px;
								border-bottom: 5px solid #AAD131;
								border-radius: 5px;
								position: absolute;
								display: block;
								left: 0;
								right: 0;
							}
						}
					}
				}
			}
		}
	}
}
section {
	&.about-navbar {
		.menu {
			ul {
				li {
					a {
						padding: 0px 10px;
					}
				}
			}
		}
	}
}

section {
	&.about-navbar {
		.menu {
			ul {
				list-style: none;
				text-align: center;
				li {
					display: inline-block;
					margin: 0px 20px;
					a {
						text-align: left;
						letter-spacing: 0px;
						color: #191919;
						font-size: 16px;
						line-height: 24px;
						font-family: 'Custom_FFMetaSerif';
						font-weight: bold;
					}
					&.is-active {
						a {
						    position: relative;
						}
					}
				}
			}
		}
	}
}
section {
	&.about-navbar {
		margin-bottom: 20px;
	}
}
.about-delta {
	padding: 100px 0px;
}
.about-delta {
	.column {
		img {
			height: 331px;
			object-fit: cover;
			max-width: 100%;
			border-radius: 30px;
		}
		h2 {
			letter-spacing: 0px;
			color: #191919;
			font-size: 30px;
			line-height: 40px;
			font-weight: 500;
			width: max-content;
			border-bottom: 2px solid #AAD131;
			padding-bottom: 12px;
		}
		p {
			letter-spacing: 0px;
			color: #191919;
			font-size: 16px;
			line-height: 24px;
		}
	}
}
section {
	&.Accordion {
		padding: 80px 0px 140px 0px !important;
		background: #191919;
		h2 {
			text-align: center;
			letter-spacing: 0px;
			color: #FFFFFF;
			font-size: 30px;
			line-height: 40px;
			position: relative;
			width: max-content;
			margin: 0 auto;
			padding-bottom: 10px;
			margin-bottom: 60px !important;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				border: 0.5px solid #AAD131;
				bottom: 0;
				width: 100%;
				background-color: #AAD131;
			}
		}
	}
}	

body .Accordion{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;

  &__tabs {
    max-width: 750px;
    list-style: none;
    margin: 0 auto;
  }
  
  &__tab {
    width: 100%;

    &__headline {
	  flex-direction: row-reverse;
	  justify-content: flex-end;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #CCCCCC;
      transition: 0.2s ease all;
      padding: 20px 15px;
      cursor: pointer;
      font-weight: 400

      &:hover {
        background-color: unset;
      }

      > h4 {
        user-select: none;
		text-transform: uppercase;
		margin: 0;
		color: #F2F2F2;
		text-align: left;
		font-size: 16px;
		line-height: 24px;
      }

      .icon {
        display: inline-block;
		width: 1px;
		height: 22px;
		border: unset;
		border-radius: 0;
		position: relative;
		left: 0px;
		margin-right: 30px;

        &::before {
        display: block;
		position: absolute;
		content: "";
		top: 10px;
		left: -14px;
		width: 20px;
		height: 3px;
		background: #648EC3;
		border-radius: 35px;
        }

        &::after {
        display: block;
		position: absolute;
		content: "";
		top: 1px;
		left: -5px;
		width: 3px;
		height: 20px;
		background: #648EC3;
		border-radius: 35px;
		transition: 0.2s ease all;
        }
      }
    }

    &__content {
      overflow: hidden;
      padding: 0px 0px;
      box-sizing: border-box;
      height: 100%;
      max-height: 0;
      transition: 0.4s ease all;
    }

    &--open {
      .Accordion__tab {
        &__headline {
          .icon::after {
            transform: scaleY(0);
          }
        }
      }
    }
  }
}
.Accordion__tab__content {
	p {
		display: block;
		letter-spacing: 0px;
		color: #D8D8D8;
		font-size: 16px;
		line-height: 24px;
		padding-left: 37px;
		padding-right: 20px;
	}
}
.Accordion__tab__content .wrapper {
		padding: 28px 0px 49px 0px;
		width: 100%;
		float: left;
		border-bottom: 1px solid #CCCCCC;

}
body.delta-main section.section.stay-now {
			background: url('../images/bg-delta-triangles-pattern.png'), #F2F8FF;
			background-repeat: no-repeat;
			background-position: bottom center;
			background-size: 100% 83%;
		}
section {
	&.section {
		&.stay-now {
			padding-top: 60px;
			padding-bottom: 90px !important;
			h1 {
				letter-spacing: 0px;
				font-size: 30px;
				line-height: 40px;
				position: relative;
				padding-bottom: 10px;
				color: #fff;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					border: 0.5px solid #AAD131;
					bottom: -2px;
					width: 380px;
					background-color: #AAD131;
					margin: 0 auto;
				}
			}
			p {
				&.body1 {
					text-align: center;
					letter-spacing: 0px;
					font-size: 16px;
					line-height: 24px;
					margin-top: 35px;
					margin-bottom: 45px;
					color: #fff;
				}
			}
			input[type="text"] {
				width: 203px;
				height: 44px;
				border-radius: 22px;
				border: 0;
			}
			a {
				button {
					width: 131px;
					height: 43px;
					background: #648EC3 0% 0% no-repeat padding-box;
					border-radius: 21px;
					text-align: center;
					letter-spacing: 0px;
					color: #FFFFFF;
					font-size: 16px;
					line-height: 33px;
					margin-left: 10px;
					box-shadow: 0px 2px 0px #4f73a0;
					border: 0;
				}
			}
		}
	}
}
footer {
	&.footer {
		background-color: #fff;
		padding-bottom: 70px;
		padding-top: 60px;
		section {
			&.section {
				&.footer-delta {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}
.stay-now {
    background: #191919 0% 0% no-repeat padding-box;
}
section {
	&.section {
		&.footer-delta {
			.column {
				&.is-3 {
					padding-left: 60px;
					&.has-text-centered {
						text-align: left !important;
						padding-left: 0.75rem !important;
					}
				}
				h6 {
					position: relative;
					padding-bottom: 0px;
					text-align: left;
					letter-spacing: 0px;
					color: #191919;
					font-size: 16px;
					line-height: 44px;
					&:before {
						color: red;
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						border: 0.5px solid #AAD131;
						bottom: 0;
						width: 100%;
						background-color: #AAD131;
					}
				}
				ul {
					li {
						a {
							text-align: left;
							letter-spacing: 0px;
							color: #555555;
							font-size: 16px;
							line-height: 30px;
						}
					}
				}
				&:last-child {
					ul {
						li {
							display: inline-block;
							margin-right: 14px;
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}
footer.footer section.footer-copyright-sec {margin-top: 35px;}
footer.footer {
    padding-bottom: 60px;
}
body {
	&.delta-main {
		section {
			&.section {
				&.stay-now {
					h1 {
						color: #191919;
					}
					p {
						&.body1 {
							color: #191919;
						}
					}
					input[type="text"] {
						background: #F2F8FF 0% 0% no-repeat padding-box;
						border: 1px solid #648EC3;
					}
				}
			}
		}
	}
}
.products-quentity-main {
	button {
		&.button {
			&.is-info {
				width: 176px;
				height: 41px;
				background: #648EC3 0% 0% no-repeat padding-box;
				border-radius: 4px;
				box-shadow: unset !important;
				margin-top: 36px !important;
			}
		}
	}
}
section {
	&.section {
		&.personal-wholesale {
			button {
				&.button {
					box-shadow: unset !important;
				}
			}
		}
	}
}
section {
	&.section {
		&.order-request {
			border-bottom: 40px solid #191919;
			padding-bottom: 0;
			padding-top: 24px;
		}
	}
}
.personal-wholesale {
	h3 {
		font-size: 1.5em !important;
		margin-bottom: 0.6666em;
		margin-top: 1.3333em;
	}
}
.delta-oil-single-product-sec {
    background: url('../images/bg-delta-triangles-pattern.png'), #F2F8FF;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 83%;
}
.delta-oil-single-product-sec h1 {
    color: #000 !important;
}
.delta-oil-single-product-sec p {
    color: #000 !important;
}
.delta-oil-single-product-sec input[type="text"] {
    background: #F2F8FF 0% 0% no-repeat padding-box !important;
    border: 1px solid #648EC3 !important;
}
.featured-product-categories a {
    color: #fff;
}
.delta-product-single-page-warp .Products-right-content h3 {
    font-family: 'Custom_FFMetaSerif';
}
.delta-product-single-page-warp .Products-right-content .Products-right-content-select-product h4 {
    font-family: 'Custom_FFMetaSerif';
}
.delta-single-product-overview-wrap h2 {
    font-family: 'Custom_FFMetaSerif' !important;
    font-size: 26px !important;
}
.delta-single-product-overview-wrap .Products-box h3 {
    font-family: 'Custom_FFMetaSerif';
}
.delta-product-single-page-warp .Products-right-content-select-product button {
    width: 312px;
    height: 48px;
    background: #648EC3 0% 0% no-repeat padding-box !important;
    border-radius: 24px !important;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    font-size: 20px;
    line-height: 51px;
    box-shadow: 0px 2px 0px #4f73a0;
    border: 0px;
}
.delta-product-single-page-warp .Products-right-content-select-product button:before {
    display: none;
}
.delta-product-single-page-warp .Products-right-content-select-product button:hover, .delta-product-single-page-warp .Products-right-content-select-product button:focus {
    background: #4f73a0 !important;
}
.delta-single-product-overview-wrap-inner-wrap {
    max-width: 900px;
    margin: 0 auto;
}
.delta-oil-co-nav .sticky {
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    top: 48px;
    z-index: 99;
}
.delta-oil-co-nav .sticky a.navbar-item {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    margin-bottom: 14px !important;
}

@media (max-width: 1024px) {
body.delta-main section.section.stay-now {
    background-size: 170%;
}
section.about-banner-section .columns {
    margin: 0 !important;
}	
}
@media (max-width: 768px) {
section {
	&.about-navbar {
		img {
			height: 40px;
			margin-bottom: 16px;
		}
	}
}
section {
	&.about-banner-section {
		.is-7 {
			padding: 50px 0px 0px 50px;
		}
	}
}
section {
	&.about-banner-section {
		.is-4 {
			img {
				height: 270px;
				width: 270px;
				object-fit: contain;
			}
		}
	}
}
section {
	&.about-banner-section {
		.columns {
			display: flex;
			margin: 0px;
		}
	}
}
section {
	&.about-banner-section {
		background-size: 195%;
		padding-bottom: 50px;
	}
}
section {
	&.featured-product-categories {
		padding: 50px 20px !important;
		.columns {
			.card {
				.card-content {
					img {
						height: 300px;
						object-fit: cover;
					}
				}
			}
		}
	}
	&.Accordion {
		padding: 50px 20px !important;
	}
}
.about-delta {
	padding: 50px 20px;
}
section {
	&.section {
		&.footer-delta {
			.column {
				&.is-3 {
					padding-left: 0;
				}
			}
		}
	}
}
section {
	&.about-navbar {
		.menu {
			ul {
				li {
					margin: 0px 7px;
				}
			}
		}
	}
}
section {
	&.about-navbar {
		.menu {
			ul {
				li {
					a {
						font-size: 14px;
						padding: 0px 8px;
					}
				}
			}
		}
	}
}	

}
@media (max-width:767px) {
.section {
	padding: 3rem 1rem;
}

footer {
	&.footer {
		section {
			&.section {
				&.footer-delta {
					.column {
						&.is-3 {
							&.has-text-centered {
								img {
									width: 150px;
									margin: 0 auto;
    								display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}

section {
	&.about-banner-section {
		.columns {
			display: block;
		    margin: 0 !important;
		    width: 100%;
		}
	}
}
section {
	&.about-banner-section {
		h1 {
			font-size: 24px;
		    margin: 0px !important;
		    margin-bottom: 5px !important;
		}
	}
}
section {
	&.about-banner-section {
		background-size: 330% !important;
		text-align: center;
	}
}
section {
	&.featured-product-categories {
		h1 {
			font-size: 24px;
		}
	}
}
section {
	&.about-banner-section {
		.is-4 {
			img {
				margin: 0 auto;
			}
		}
	}
}
section {
	&.about-banner-section {
		.is-4 {
			img {
				height: 200px;
				width: 200px;
			}
		}
	}
}
section {
	&.about-banner-section {
		.column {
			.content {
				p {
					text-align: center;
    				margin-bottom: 0;
				}
			}
		}
	}
}
section {
	&.about-banner-section {
		.is-7 {
			padding: 0px 0px 0px 0px;
		}
	}
}
section {
	&.featured-product-categories {
		.columns {
			.card {
				.card-content {
					img {
						height: 170px;
						object-fit: contain;
					}
				}
			}
		}
	}
}
section {
	&.featured-product-categories {
		.columns {
			h3 {
				text-align: center;
				font-size: 16px;
				line-height: normal;
				margin-bottom: 10px !important;
			}
		}
	}
}
section {
	&.about-banner-section {
		button {
			&.is-info {
				height: 40px;
				font-size: 16px;
			}
		}
	}
}
section {
	&.featured-product-categories {
		button {
			height: 40px;
			font-size: 16px;
			margin-top: 0;
		}
	}
}
.about-delta {
	.column {
		h2 {
			font-size: 24px;
			line-height: normal;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}
}
.about-delta {
	.column {
		p {
			font-size: 14px;
			text-align: center;
		}
	}
}
.about-delta {
	.column {
		img {
			height: 200px;
		}
	}
}
section {
	&.Accordion {
		h2 {
			font-size: 24px;
			margin-bottom: 30px !important;
		}
	}
}
body {
	.Accordion__tab__headline {
		& > h4 {
			font-size: 14px;
		}
	}
}
.Accordion__tab__content {
	p {
		display: block;
		letter-spacing: 0px;
		color: #D8D8D8;
		font-size: 13px;
		line-height: normal;
		padding-left: 37px;
		padding-right: 20px;
	}
	.wrapper {
		padding: 14px 0px 28px 0px;
	}
}
section {
	&.section {
		&.stay-now {
			h1 {
				font-size: 24px;
				&:before {
					width: 100%;
				}
			}
		}
	}
}
section {
	&.section {
		&.stay-now {
			p {
				&.body1 {
					font-size: 14px;
					margin-top: 26px;
					margin-bottom: 26px;
				}
			}
		}
	}
}
section {
	&.section {
		&.stay-now {
			input[type="text"] {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}
}
section {
	&.section {
		&.stay-now {
			padding-top: 50px;
			padding-bottom: 50px !important;
            background-size: 213% !important;
		}
	}
}
footer {
	&.footer {
		section {
			&.section {
				&.footer-delta {
					padding: 0px 0px;
				}
			}
		}
	}
}
section {
	&.section {
		&.footer-delta {
			.column {
				&.is-3 {
					padding-left: 0.75rem;
				}
			}
		}
	}
}
section {
	&.section {
		&.footer-delta {
			.column {
				h6 {
					margin-bottom: 10px;
					line-height: normal;
					text-align: center;
				}
			}
		}
	}
}
section {
	&.section {
		&.footer-delta {
			.column {
				ul {
					li {
						text-align: center;
					}
				}
			}
		}
	}
}
section.section.footer-delta .column:last-child ul {
    text-align: center;
}
footer {
	&.footer {
		padding-bottom: 50px;
		padding-top: 50px;
	}
}
section.section.footer-delta .column h6:before {
    bottom: -5px;
}
}
@media (max-width: 480px) {
section.about-banner-section {
    background-size: 530% !important;
}
section.section.stay-now {
    background-size: 390% !important;
}
}




