<section class="section stay-now">
  <div class="container is-max-desktop">
    <div class="columns is-desktop is-centered">
      <div class="column is-12 has-text-centered">
        <h1 class="title">Stay in the know</h1>
        <p class="body1 mb-12">Be the first to know about new and limited products<br> and strains available in your area.</p>
       <p class="body2"><input class="input is-rounded" type="text" placeholder="">
       <a href="#"><button type="button" class="button is-primary">Subscribe</button></a>
       </p>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
    <div class="container">
       <!---------------------------------------------stay know------------------------------------------------> 
<!---------------------------------------------footer delta------------------------------------------------> 
<section class="section footer-delta">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-3 has-text-centered"><a href="#"><img src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-delta_oil_co-primary.svg" class="img-responsive"></a>
      </div>
      <div class="column is-3">
          <h6 class="title is-6">Our Brands</h6>
          <ul>
          <li><a href="{{ site.url-deltaoilco }}{{ site.devbaseurl-deltaoilco }}/">Delta Oil Co.</a></li>
            <li><a href="{{ site.url-chefjoeys }}{{ site.devbaseurl-chefjoeys }}/">Chef Joey’s Premium Edibles</a></li>
            <li><a href="{{ site.url-bodyguac }}{{ site.devbaseurl-bodyguac }}/">Body Guac</a></li>
            <li><a href="{{ site.url-natureslab }}{{ site.devbaseurl-natureslab }}/">Nature’s Lab Oklahoma</a></li>
        </ul>
     </div>
           <div class="column is-3">
          <h6 class="title is-6">Resources</h6>
          <ul>
          <li><a href="#">Where to Buy</a></li>
            <li><a href="#">Order Products</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
        </ul>
     </div>

      <div class="column is-3">
          <h6 class="title is-6">Community</h6>
          <ul>
          <li><a href="#" target="_blank" rel="_nofollow"><img src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/facebook.svg" class="img-responsive"></a></li>
            <li><a href="#" target="_blank" rel="_nofollow"><img src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/instagram.svg" class="img-responsive"></a></li>
            <li><a href="#" target="_blank" rel="_nofollow"><img src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/twitter.svg" class="img-responsive"></a></li>
        </ul>
     </div>
  </div>
</div>
</section>
<!---------------------------------------------Copyright footer delta------------------------------------------------> 
<section class="footer-copyright-sec">
  <div class="container">
    <div class="columns is-multiline">
      
      <div class="column is-4 has-text-left">
        <p class="">© 2021, JDMG, LLC. All rights reserved.</p>
      </div>
     
     <div class="column is-4 has-text-centered retail-location">
        <p class="has-text-centered"><a target="_blank" href="{{ site.url-hub }}{{ site.devbaseurl-hub }}/retail-locations/">Retail Locations</a></p>
      </div>
      
      <div class="column is-4 has-text-right">
        <ul>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
    

    </div>
</footer>
