<nav class="navbar is-primary {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}" x-data="{ openNav: false }">
    <div class="container is-max-desktop">
        <!--<div class="navbar-brand">           
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu" :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>-->
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
        <div class="navbar-start">
             
        <ul>                 
           <li class="nav-cstm active" id="test-1">
            <a href="{{ site.url-hub }}{{ site.devbaseurl-hub }}/" class="navbar-item">
               <img class="active desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/icon-home.svg"/>
               <img class="unactive desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/icon-home-1.svg"/>
          
               <img class="active mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/icon-home.svg"/>
               <img class="unactive mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/icon-home-1.svg"/>
            </a>
          </li>

           <li class="nav-cstm" id="test-2">
             <a href="{{ site.url-deltaoilco }}{{ site.devbaseurl-deltaoilco }}/" class="navbar-item">
                <img class="active desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-delta_oil_co-horizontal-on_dark.svg"/>  
                <img class="unactive desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-delta_oil_co-horizontal.svg"/>

                <img class="active mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/mobile-menu-icons/icon-delta_oil_co.svg"/> 
                <img class="unactive mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/mobile-menu-icons/icon-delta_oil_co.svg"/>                            
            </a>
           </li>

           <li class="nav-cstm" id="test-3">
            <a href="{{ site.url-chefjoeys }}{{ site.devbaseurl-chefjoeys }}/" class="navbar-item">
              <img class="active desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-chef_joeys-horizontal.png"/>
              <img class="unactive desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-chef_joeys-horizontal.png"/>

              <img class="active mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/mobile-menu-icons/icon-chef_joeys.png"/>
              <img class="unactive mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/mobile-menu-icons/icon-chef_joeys.png"/>
            </a>
           </li>

           <li class="nav-cstm" id="test-4">
            <a href="{{ site.url-bodyguac }}{{ site.devbaseurl-bodyguac }}/" class="navbar-item">                
               <img class="active desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-body_guac-horizontal-on_dark.svg"/>
               <img class="unactive desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-body_guac-horizontal.svg">

               <img class="active mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/mobile-menu-icons/icon-body_guac-on_dark.svg"/>
               <img class="unactive mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/mobile-menu-icons/icon-body_guac.svg"/>
            </a>
        </li>
           <li class="nav-cstm" id="test-5">
            <a href="{{ site.url-natureslab }}{{ site.devbaseurl-natureslab }}/" class="navbar-item">
           <img class="active desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-natures_lab-horizontal-on_dark.svg"/>
            <img class="unactive desktop-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-natures_lab-horizontal.svg"/>
                         
            <img class="active mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/mobile-menu-icons/icon-natures_lab-on_dark.svg"/>  
            <img class="unactive mobile-view" src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/mobile-menu-icons/icon-natures_lab.svg"/>         
              </a>
            </li>
         </ul>
           

                
            </div>

            <div class="navbar-end">
               
            </div>

        </div>
    </div>
</nav>
