<ul>
  <li><img src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-delta_oil_co-primary-RGB@2x.png" class="img-responsive"></li>
  <li><img src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-chef_joeys-primary-RGB.png" class="img-responsive"></li>
  <li><img src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-body_guac-primary.svg" class="img-responsive"></li>
  <li><img src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/images/logo-natures_lab-primary.svg" class="img-responsive"></li>
</ul>