<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content={{ site.theme_color | default: '#ffffff' }}>
  
  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/css/style.css">
  
  <!-- Brand-specific styling -->
  {% if page.brand == "deltaoilco" %}
  <link rel="stylesheet" href="{{ site.url-deltaoilco }}{{ site.devbaseurl-deltaoilco }}/assets/css/style.css">
  {% elsif page.brand == "chefjoeys" %}
  <link rel="stylesheet" href="{{ site.url-chefjoeys }}{{ site.devbaseurl-chefjoeys }}/assets/css/style.css">
  {% elsif page.brand == "bodyguac" %}
  <link rel="stylesheet" href="{{ site.url-bodyguac }}{{ site.devbaseurl-bodyguac }}/assets/css/style.css">
  {% elsif page.brand == "natureslab" %}
  <link rel="stylesheet" href="{{ site.url-natureslab }}{{ site.devbaseurl-natureslab }}/assets/css/style.css">
  {% endif %}

  <link rel="shortcut icon" type="image/png" {% if site.favicon %} href="{{ site.favicon | relative_url }}" {% else %} href="{{ site.url-hub }}{{ site.devbaseurl-hub }}/favicon.png" {% endif %} />

  <script src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/js/vendor/alpine.min.js" defer></script>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"> -->
  {% unless site.hide_share_buttons %}
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css"> -->
  {% endunless %}
  {% seo %}
  {%- if site.google_analytics -%}
  {%- include google-analytics.html -%}
  {%- endif -%}
  {%- include head-scripts.html -%}
</head>

