.products-quentity {
	border: 1px solid #CCCCCC;
	padding: 40px;
	h3 {
		margin-bottom: 12px !important;
	}
}
.form-group {
	label {
		position: relative;
		cursor: pointer;
		&:before {
			content: '';
			-webkit-appearance: none;
			background-color: #F4F4F4;
			border: 1px solid #B7B7B7;
			padding: 6px;
			display: inline-block;
			position: relative;
			vertical-align: middle;
			cursor: pointer;
			margin-right: 8px;
			border-radius: 2px;
			top: -1px;
		}
	}
	input {
		padding: 0;
		height: initial;
		width: initial;
		margin-bottom: 0;
		display: none;
		cursor: pointer;
		&:checked {
			& + label {
				&:after {
					    content: '';
						display: block;
						position: absolute;
						top: 4px;
						left: 5px;
						width: 4px;
						height: 10px;
						border: solid #0079bf;
						border-width: 0 2px 2px 0;
						transform: rotate(
					41deg
					);
				}
			}
		}
	}
}
.products-quentity-main {
	.form-group {
		margin-bottom: 5px;
	}
}
.products-quentity-main {
	.form-group {
		label {
			vertical-align: middle;
			line-height: normal;
		}
	}
}
.products-quentity-main {
	input {
		&.input {
			&.is-medium {
				width: 269px;
				height: 44px;
				background: #F4F4F4 0% 0% no-repeat padding-box;
				border: 1px solid #B7B7B7;
				border-radius: 4px;
				display: block;
				text-align: left;
				letter-spacing: 0px;
				color: #989898;
				font-size: 16px;
			}
		}
	}
}
.personal-wholesale {
	.italic-text {
		margin-top: 26px;
		display: block;
	}
}

