@font-face {
	font-family: 'Custom_FranklinGoth';
	src: url('../fonts/FranklinGothBook.eot');
	src: local('☺'), url('../fonts/FranklinGothBook.woff') format('woff'), url('../fonts/FranklinGothBook.ttf') format('truetype'), url('../fonts/FranklinGothBook.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Custom_FranklinGoth';
	src: url('../fonts/FranklinGothBookItalic.eot');
	src: local('☺'), url('../fonts/FranklinGothBookItalic.woff') format('woff'), url('../fonts/FranklinGothBookItalic.ttf') format('truetype'), url('../fonts/FranklinGothBookItalic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Custom_FranklinGoth';
	src: url('../fonts/FranklinGothDemi.eot');
	src: local('☺'), url('../fonts/FranklinGothDemi.woff') format('woff'), url('../fonts/FranklinGothDemi.ttf') format('truetype'), url('../fonts/FranklinGothDemi.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}



@font-face {
	font-family: 'Custom_FFMetaSerif';
	src: url('../fonts/FF Meta Serif Pro Medium.eot');
	src: local('☺'), url('../fonts/FF Meta Serif Pro Medium.woff') format('woff'), url('../fonts/FF Meta Serif Pro Medium.ttf') format('truetype'), url('../fonts/FF Meta Serif Pro Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Custom_FFMetaSerif';
	src: url('../fonts/FF Meta Serif Pro Medium Italic.eot');
	src: local('☺'), url('../fonts/FF Meta Serif Pro Medium Italic.woff') format('woff'), url('../fonts/FF Meta Serif Pro Medium Italic.ttf') format('truetype'), url('../fonts/FF Meta Serif Pro Medium Italic.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Custom_FFMetaSerif';
	src: url('../fonts/FF Meta Serif Pro Bold.eot');
	src: local('☺'), url('../fonts/FF Meta Serif Pro Bold.woff') format('woff'), url('../fonts/FF Meta Serif Pro Bold.ttf') format('truetype'), url('../fonts/FF Meta Serif Pro Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Custom_FFMetaSerif';
	src: url('../fonts/FF Meta Serif Pro Bold Italic.eot');
	src: local('☺'), url('../fonts/FF Meta Serif Pro Bold Italic.woff') format('woff'), url('../fonts/FF Meta Serif Pro Bold Italic.ttf') format('truetype'), url('../fonts/FF Meta Serif Pro Bold Italic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}


body {
    font-family: 'Custom_FranklinGoth' !important;
}
button {
    font-family: 'Custom_FFMetaSerif';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Custom_FFMetaSerif';
}
button.button.is-info {
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 20px;
    background: #648EC3 0% 0% no-repeat padding-box;
    border-radius: 24px;
    box-shadow: 0px 2px 0px #4f73a0 !important;
    border: 0px;
}
/***Delta-home-css-start-here***/
section {
	&.home-family-of-brands-section {
		h2 {
			margin: 0 auto;
			position: relative;
			margin-bottom: 50px !important;
			&:before {
			}
		}
	}
}
section {
	&.footer-copyright-sec {
		border-top: 1px solid #CCCCCC;
		padding-top: 26px;
		margin-top: 60px;
		p {
			text-align: left;
			letter-spacing: 0px;
			color: #555555;
			font-size: 16px;
			line-height: 24px;
		}
		ul {
			list-style: none;
			li {
				display: inline-block;
				margin-right: 40px;
				a {
					color: #555555;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: 0px;
				}
				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}
.cstm-home-main-outer {
	padding-bottom: 26px;
}
.navbar-start {
	ul {
		list-style: none;
		display: flex;
		align-self: flex-end;
		li {
			display: inline-block;
			margin: 0px 3px;
			a {
				padding: 4px 16px;
				img {
					    height: 32px;
						max-height: 32px;
						max-width: 128px;
						object-fit: contain;
						width: auto;
				}
			}
		}
	}
}
.navbar-start {
	ul {
		li {
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

nav {
	&.navbar {
		background-color: #191919 !important;
		padding-top: 5px;
	}
}
.navbar-start ul li a:hover, .navbar-start ul li a:focus {
	background-color: #FFFFFF;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	height: 100%;
}
nav {
	&.navbar {
		.container {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
.cstm-home-main-outer {
	padding-top: 16px;
	.logo-title {
		img {
			height: 210px;
			width: auto;
		}
		h6 {
			text-align: center;
			letter-spacing: 0px;
			color: #020000;
			font-size: 16px !important;
			line-height: 24px;
			margin-top: 10px;
		}
	}
}
.cstm-home-main-outer {
	.home-logo-title {
		button {
			&.button {
				&.is-info {
					letter-spacing: 0px;
					color: #FFFFFF;
					font-size: 20px;
					line-height: 51px;
					width: 236px;
					height: 48px;
					background: #648EC3 0% 0% no-repeat padding-box;
					border-radius: 24px;
					box-shadow: 0px 2px 0px #4f73a0;
					border: 0px;
				}
			}
		}
	}
}
.cstm-home-main-outer .home-logo-title button.button.is-info:hover, .cstm-home-main-outer .home-logo-title button.button.is-info:focus {
	background: #4f73a0;
}
.cstm-home-main-outer { 
	.logo-title {
		p {
			text-align: center;
			letter-spacing: 0px;
			color: #49443D;
			font-size: 16px;
			line-height: 24px;
	}
}
}
.home-family-of-brands-section {
	h2 {
		color: #191919;
		font: normal normal bold 24px/20px Meta Serif OT;
    	letter-spacing: 0px;
	}
}
.navbar {
	&.is-primary {
		.container {
			max-width: 100%;
			padding: 0px 15px;
		}
	}
}
nav.navbar, nav.navbar * {
	min-height: auto !important;
}
.navbar-start {
	ul {
		li {
			a {
				padding-bottom: 0px;
				padding-right: 0.75rem;
				height: 100%;
				padding: 8px 26px;
			}
		}
	}
}
div#navMenu {
	margin-left: 15px;
}
li {
	&.nav-cstm {
		&.active {
			a {
				background-color: #fff;
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				img {
					
				}
			}
		}
	}
}
.navbar-start {
	ul {
		li {
			&.active {
				a {
					img {
					}
				}
			}
		}
	}
}
.navbar-start ul li:first-child img {
    width: auto;
}
section.home-family-of-brands-section .is-multiline a img {width: auto;height: 100px;}
li.nav-cstm.active {
	a {
		img.active {
			display: none;
		}
		&:hover {
			img.active {
				display: none;
			}
			img.unactive {
				display: block;
			}
		}
		img.unactive {
			display: block;
		}
	}
}
li.nav-cstm {
	a {
		img.unactive {
			display: none;
		}
		&:hover {
			img.unactive {
				display: block;
			}
			img.active {
				display: none;
			}
		}
	}
}
section {
	&.home-family-of-brands-section {
		.container {
			    padding: 50px 30px;
				position: relative;
				padding-bottom: 66px;
			&:before {
				content: "";
				left: 0px;
				right: 0px;
				top: 0px;
				position: absolute;
				border: 1px solid #648EC3;
				height: 100%;
				border-radius: 17px;
				width: 100%;
				z-index: -1;
			}
			&:after {
				content: "";
				left: -4px;
				right: 0;
				top: 4px;
				position: absolute;
				border: 1px solid #BF1B3F;
				height: 100%;
				border-radius: 17px;
				width: 100%;
				z-index: -1;
			}
		}
	}
}
li {
	&.nav-cstm {
		a {
			img {
				&.mobile-view {
					display: none;
				}
			}
			&:hover {
				img {
					&.mobile-view {
						display: none;
					}
				}
			}
		}
	}
}
li {
	&.nav-cstm {
		&.active {
			a {
				img {
					&.mobile-view {
						display: none;
					}
				}
			}
		}
	}
}
li {
	&.nav-cstm {
		&.active {
			img {
				&.unactive {
					&.mobile-view {
						display: none !important;
					}
				}
			}
		}
	}
}
nav.navbar.is-transparent.delta-oil-co-nav {
	text-align: center;
	background-color: unset !important;
}

nav.navbar.is-transparent.delta-oil-co-nav .navbar-start {
    display: flex;
    justify-content: center;
}
nav.navbar.is-transparent.delta-oil-co-nav .navbar-start  a.navbar-item {
    font: normal normal bold 16px/24px 'Custom_FFMetaSerif';
    letter-spacing: 0px;
    color: #191919;
    padding: 0px 10px;
    margin: 0px 20px;
    padding-bottom: 5px;
}
@media (max-width: 768px) {
nav.navbar.is-transparent.delta-oil-co-nav .navbar-menu .navbar-start {
    display: none;
}
nav.navbar.is-transparent.delta-oil-co-nav .navbar-menu.is-active .navbar-start {
    display: block;
}
nav.navbar.is-transparent.delta-oil-co-nav .navbar-menu.is-active .navbar-start a.navbar-item {
    margin-bottom: 20px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
nav.navbar.is-transparent.delta-oil-co-nav .navbar-brand a.navbar-burger {
    text-align: center;
    margin: 0 auto;
    background-color: #AAD131;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 0px;
}
nav.navbar.is-transparent.delta-oil-co-nav .navbar-start a.navbar-item:first-child {
    margin-top: 20px;
}
nav.navbar.is-transparent.delta-oil-co-nav .navbar-menu.is-active .navbar-start a.navbar-item:hover, nav.navbar.is-transparent.delta-oil-co-nav .navbar-menu.is-active .navbar-start a.navbar-item:focus {
    background: unset;
    color: #AAD131;
}
nav.navbar.is-transparent.delta-oil-co-nav .navbar-brand a.navbar-burger span {
    border-width: 5px !important;
}
.navbar-start ul li a:hover img.active.mobile-view {
    display: block !important;
}
.navbar-start ul li a:hover img.unactive.mobile-view {
    display: none !important;
}
.navbar-start ul li a:focus img.unactive.mobile {
    display: block !important;
}
div#navMenu {
    margin-left: 0px !important;
}
img.active.desktop-view {
    display: none;
}
li.nav-cstm a img.unactive.desktop-view {
    display: none !important;
}
li.nav-cstm.active a:hover img.unactive.desktop-view {
    display: none !important;
}
img.unactive.desktop-view {
    display: none;
}
li.nav-cstm.active a img.unactive.desktop-view {
	display: none !important;
}
li.nav-cstm.active a img.active.desktop-view {
	display: none !important;
}
li.nav-cstm.active a:hover img.active.desktop-view {
	display: none;
}
li.nav-cstm.active a:hover img.unactive.desktop-view {
	display: none;
}
.navbar-start ul li a {
    padding: 8px 15px !important;
}
.navbar-start ul li a img.desktop-view {
    display: none;
}
.navbar-start ul li a img.mobile-view {
    display: block;
}
.navbar-start ul li a:hover img.unactivedesktop-view {
    display: none;
}
li.nav-cstm a img.unactive.mobile-view {
    display: none;
}
li.nav-cstm.active img.unactive.mobile-view {
    display: block !important;
}
.navbar-menu {
    display: block;
}
.navbar-menu {
    background-color: unset;
    box-shadow: unset;
    padding: unset;
}
section.home-family-of-brands-section .container {
    padding-bottom: 50px;
    width: 100%;
    float: left;
}
section.footer-copyright-sec .column.is-6 {	
	width: 50%;
	float: left;
	padding-bottom: 16px !important;	
}
.home-family-of-brands-section .is-multiline .column {
	width: 50%;
	float: left;
}
.home-family-of-brands-section .is-multiline .column img {
	width: 106px;
    margin: 0 auto;
    max-width: 100%;
    display: block;
    height: 106px;
    object-fit: contain;
}
section.home-family-of-brands-section h2 {
	margin-bottom: 46px !important;
	width: 100%;
}
.footer-copyright-sec {
	width: 100%;
	float: left;
	margin-top: 24px !important;
}
.footer-copyright-sec .has-text-right {
	padding-bottom: 16px !important
}
.footer-copyright-sec .has-text-right{
	visibility: hidden;
}
.footer-copyright-sec p {
	text-align: center !important;
}
.footer-copyright-sec ul {
	text-align: center;
}
}
nav.navbar.is-transparent.delta-oil-co-nav .navbar-start a.navbar-item:first-child:before {
    content: "";
    display: block;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    border-bottom: 4px solid #AAD131;
    height: 100%;
    border-radius: 5px 5px 3px 3px;
}
@media (max-width: 767px) {
section.home-family-of-brands-section h2 {
    line-height: normal;
}
section.footer-copyright-sec .column.is-6 {
	width: 100%;
}
.cstm-home-main-outer .logo-title img {
	height: 110px;
	width: auto;
}
.cstm-home-main-outer {
	.logo-title {
		p {
			font-size: 14px;
		}
	}
}
.cstm-home-main-outer {
	.hero-body {
		padding-left: 0;
		padding-right: 0;
	}
}
section {
	&.section {
		&.footer-delta {
			.column {
				&.is-3 {
					width: 100% !important;
				}
			}
		}
	}
}
p {
    font-size: 14px;
}
.italic-text {
    font-size: 14px;
}
.form-group {
	input {
		&:checked {
			& + label {
				&:after {
					top: 2px !important;
						}
					}
				}
			}
		}
}
