.order-request {
	.column {
		&.is-2 {
			a {
				img {
					height: 51px;
					text-align: left;
					float: left;
				}
			}
		}
	}
}
.order-request {
	ul {
		display: flex;
		flex-direction: row;
		flex: 1;
		flex-wrap: wrap;
		float: left;
		li {
			display: flex;
			flex: 1;
			margin-right: 36px;
			img {
				height: 60px;
				object-fit: contain;
				width: 90px;
			}
			&:first-child {
				margin-left: 70px;
			}
		}
	}
	h1 {
		width: auto;
		float: left;
		margin-bottom: 0;
		display: flex;
		text-align: center;
		font: normal normal bold 42px/60px Meta Serif OT;
		letter-spacing: 0px;
		color: #191919;
		margin-left: 0;
	}
}
.personal-wholesale {
	h2 {
		text-align: left;
		letter-spacing: 0px;
		color: #191919;
		font-size: 24px;
		line-height: 61px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			border: 0.5px solid #AAD131;
			bottom: 4px;
			width: 100%;
			background-color: #AAD131;
		}
	}
}
.personal-wholesale {
	p {
		&.has-text-centered {
			button {
				margin: 35px 23px 0px 23px;
				width: 221px;
				height: 41px;
				font-size: 16px;
			}
		}
	}
}
.personal-wholesale {
	p {
		&.body1 {
			letter-spacing: 0px;
			color: #191919;
			margin-top: 40px;
			display: block;
		}
	}
}
.personal-wholesale {
    padding-bottom: 100px;
}
.personal-wholesale {
	.container {
		&.is-max-desktop {
			max-width: 800px;
		}
	}
}
label {
	letter-spacing: 0px;
	color: #4D4333 !important;
	font-size: 16px !important;
	line-height: 24px;
}
input {
	&.input {
		height: 44px;
		background: #F4F4F4 0% 0% no-repeat padding-box;
		border: 1px solid #B7B7B7;
		border-radius: 4px;
		letter-spacing: 0px;
		color: #989898;
	}
}
.select {
		width: 100%;
}
.select select {
		height: 44px;
		background: #F4F4F4 0% 0% no-repeat padding-box;
		border: 1px solid #B7B7B7;
		border-radius: 4px;
		width: 100%;
		letter-spacing: 0px;
		color: #4D4333;
}
.personal-wholesale {
	h3 {
		letter-spacing: 2.4px;
		color: #4D4333;
		font-weight: 500;
	}
}

.order-form-table {
	h2 {
		letter-spacing: 2.4px;
		color: #4D4333;
		font-weight: 500;
		padding-bottom: 0;
		margin-top: 1.3333em;
		line-height: normal;
		&:before {
			display: none;
		}
	}
}
.order-form-table h3 {
	text-align: left;
	letter-spacing: 0px;
	color: #BF1B3F;
	font-size: 24px !important;
	font-weight: 500;
	margin-bottom: 0 !important;
}
.order-form-table h4 {
	text-align: left;
    letter-spacing: 0px;
    color: #648EC3;
    font-size: 18px !important;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 4px !important;
}
.table {
	thead {
		tr {
			th {
				background-color: #f2f2f2;
				border: 1px solid #707070;
				letter-spacing: 0px;
				color: #4D4333;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
	tbody {
		tr {
			td {
				border: 1px solid #707070;
				letter-spacing: 0px;
				color: #4D4333;
				font-size: 14px;
				line-height: 24px;
				&:first-child {
					width: 35px;
					text-align: center;
					padding: 8px 4px;
				}
			}
		}
	}
}
table {
	&.table {
		border: 1px solid #949494;
		width: 100%;
	}
}
.table {
	tbody {
		tr {
			td {
				span {
					background-color: #f2f2f2;
					border: 1px solid #B7B7B7;
					border-radius: 4px;
					width: 100%;
					height: 100%;
					padding: 8px 20px;
				}
			}
		}
	}
}
.order-form-table-outer {
	border: 1px solid #CCCCCC;
	padding: 40px;
}
.textrea-section {
	.textarea-heading {
		letter-spacing: 2.4px;
		color: #4D4333;
		font-weight: 500;
		margin-bottom: 1.5rem !important;
		margin-top: 2em;
	}
	p {
		margin-top: 0 !important;
		text-align: left;
		letter-spacing: 0px !important;
		color: #4D4333 !important;
		margin-bottom: 20px !important;
	}
	textarea {
			background: #F4F4F4 0% 0% no-repeat padding-box;
			border: 1px solid #B7B7B7;
			border-radius: 4px;
			height: 138px;
			color: #989898;
	}
}
textarea {
	&.textarea {
		background: #F4F4F4 0% 0% no-repeat padding-box;
		border: 1px solid #B7B7B7;
		border-radius: 4px;
		height: 138px;
		color: #989898;
	}
}

.textrea-section {
	button {
		width: 176px;
		height: 41px;
		background: #648EC3 0% 0% no-repeat padding-box !important;
		border-radius: 4px !important;
		font: normal normal bold 16px/41px Meta Serif OT;
		letter-spacing: 0px;
		margin-top: 50px;
	}
}
.personal-wholesale {
	a {
		button {
			width: 176px;
			height: 41px;
			font-size: 16px !important;
			margin-top: 22px;
		}
	}
}
@media (max-width: 1024px) {
.personal-wholesale {
	.container {
		&.is-max-desktop {
			max-width: 100%;
		}
	}
}

}
@media (max-width: 768px) {
.order-form-table-main-heading {
	clear: both;
}
.order-form-table-outer {
	clear: both;
}
.order-form-table-outer {
	padding: 20px;
}
.order-form-table-sub-title {
	width: 100%;
	overflow-y: scroll;
}
.order-form-table-outer {
	h3 {
		margin-bottom: 0px !important;
	}
}
section {
	&.section {
		&.footer-delta {
			.column {
				&.is-3 {
					float: left;
				}
			}
		}
	}
}
section {
	&.section {
		&.footer-delta {
			.column {
				&.is-3 {
					float: left;
					width: 25%;
				}
			}
		}
	}
}
footer {
	&.footer {
		section {
			&.section {
				&.footer-delta {
					.column {
						&.is-3 {
							&.has-text-centered {
								img {
									width: 150px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.personal-wholesale {
	padding-bottom: 50px;
}
section {
	&.section {
		&.stay-now {
			padding-top: 50px;
			padding-bottom: 50px !important;
		}
	}
}

.personal-wholesale {
	h2 {
		float: left;
		width: 100%;
	}
}
section {
	&.section {
		&.order-request {
			border-bottom: 40px solid #191919;
			padding-bottom: 0;
			padding-top: 24px;
			float: left;
		}
	}
}
.order-request {
	h1 {
		font: normal normal bold 30px/60px Meta Serif OT;
	}
	ul {
		float: none;
	}
}
.footer {
	padding: 3rem 1rem 6rem;
}	
}
@media (max-width: 767px) {
.personal-wholesale {
	.columns {
		h3 {
			&.sub-title {
				font-size: 18px !important;
			}
		}
	}
}
.personal-wholesale {
	.use-mobile {
		margin-top: 16px !important;
	}
}

.products-quentity-main {
	input {
		&.input {
			&.is-medium {
				width: 100% !important;
			}
		}
	}
}
h6.title.is-6 {
    font-size: 14px;
    line-height: normal;
}
h3.title {
    font-size: 18px !important;
    margin-bottom: 12px !important;
}
.products-quentity {
    padding: 20px !important;
}
label {
    font-size: 14px !important;
}
.field {
    margin-bottom: 0 !important;
    padding-bottom: 0px;
}
.order-request {
	h1 {
		font: normal normal bold 24px/60px Meta Serif OT;
		display: block;
		width: 100%;
		text-align: left;
		margin-bottom: 0 !important;
	}
}
.order-request {
	ul {
		float: none;
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;
	}
}
.order-request {
	ul {
		li {
			display: inline-block;
			flex: unset;
			margin-right: 0px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
.order-request {
	ul {
		li {
			img {
				height: 40px;
				width: 65px;
			}
		}
	}
}
section {
	&.section {
		&.order-request {
			padding-top: 8px;
		}
	}
}
.personal-wholesale {
	padding-bottom: 50px;
}
.order-form-table-main-heading h2 {
    font-size: 18px;
}	
table {
	&.table {
		white-space: nowrap;
	}
}

}




