.ourproducts-page {
  padding-bottom: 0;
}
.chefjoey-product-top-heading {
  background-color: #DEEBF8;
  padding: 20px 0px;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 14px;
  &:before {
    content: "";
    top: 29px;
    background: url(/img/chefgoey-border-stock-ps.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-size: contain;
    background-position: bottom center;
    z-index: 9;
  }
  h2 {
    text-align: center;
    font: normal normal normal 63px/83px Custom_Cornhusker;
    letter-spacing: 0px;
    color: #191919;
    text-transform: uppercase;
  }
}
@media (max-width: 1024px) {
.chefjoey-product-top-heading:before {
    top: 24px;
}
}
@media (max-width: 768px) {
.chefjoey-product-top-heading:before {
    top: 18px;
}
}
@media (max-width: 767px) {
.chefjoey-product-top-heading:before {
    top: 9px;
}
}