.chef-joeys-ourproduct-product-page {
  max-width: 1270px;
}
.product-page-product-content-section {
  max-width: 1270px;
  margin: 0 auto;
}
ul {
  &.products-left-light-image {
    list-style: none;
    display: grid;
    flex-wrap: wrap;
    margin-top: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    li {
      display: flex;
      flex: 0 0 24%;
      margin-bottom: 6px;
      &.active {
        img {
          border: 1px solid #cc6699;
        }
      }
      img {
        border: 1px solid #AAD131;
        width: 110px;
        height: 110px;
      }
    }
  }
}
ul.products-left-light-image li img:hover, ul.products-left-light-image li img:focus {
  border: 1px solid #cc6699;
}
.Products-left-images {
  img {
    border: 1px solid #AAD131;
  }
}
.Products-right-content-product-short-decription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .Products-short-decription-left {
    display: flex;
    flex: 0 0 26%;
    flex-direction: column;
  }
  .Products-short-decription-right {
    display: flex;
    flex: 0 0 66%;
    flex-direction: column;
  }
}
.Products-right-content-select-product {
  margin-bottom: 55px;
  a {
    button {
      width: 304px;
      height: 48px;
      background: #AAD131 0% 0% no-repeat padding-box !important;
      border-radius: 4px;
      letter-spacing: 0px;
      color: #191919 !important;
      font-size: 20px;
      box-shadow: 3px 3px 0px #648ec3;
      position: relative;
      border: 0;
      z-index: 99;
      &:before {
        content: "";
        bottom: -3px;
        left: 3px;
        right: 0;
        position: absolute;
        box-shadow: 3px 3px 0px #bf1b3f;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
    }
  }
  .select {
    display: block;
    width: 311px;
    margin-bottom: 40px;
  }
  h4 {
    text-align: left;
    letter-spacing: 0px;
    color: #191919;
    font-family: 'Custom_FranklinGoth';
    font-size: 16px !important;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 0 !important;
    margin-top: 30px;
  }
}
.Products-right-content {
  padding-left: 50px;
  h3 {
    text-align: left;
    letter-spacing: 0px;
    color: #191919;
    font-size: 34px;
    line-height: 30px;
    font-family: 'Custom_FranklinGoth';
    margin-bottom: 30px !important;
    display: block;
  }
  p {
    text-align: left;
    letter-spacing: 0px;
    color: #191919;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Custom_FranklinGoth';
  }
}
.product-short-detail-logo-inner {
  width: 100%;
  float: left;
  margin-top: 35px;
  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      margin-right: 12px;
      img {
        height: 88px;
        width: 88px;
        object-fit: contain;
      }
    }
  }
}
.Products-short-decription-right {
  h6 {
    text-align: left;
    letter-spacing: 0px;
    color: #1A1818;
    font-size: 16px !important;
    font-family: 'Custom_FranklinGoth';
    margin-bottom: 0px !important;
  }
  strong {
    color: #E72637;
  }
}
.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
  border-color: #707070;
  top: 22px;
}
.section.single-product-overview h2 {
    font-size: 10px;
    font: normal normal normal 46px/44px Custom_Cornhusker;
    letter-spacing: 0px;
    color: #191919;
    text-transform: uppercase;
    border-bottom: 2px solid #AAD131;
    box-shadow: 0px 2px 0px #648ec3;
    position: relative;
    margin-bottom: 50px !important;
}
.section.single-product-overview h2:before {
    content: "";
    position: absolute;
    display: block;
    bottom: -4px;
    width: 100%;
    box-shadow: 0px 2px 0px #bf1b3f;
    height: 100%;
}
.single-product-overview {
    padding-top: 0;
}
.single-product-overview h3.title img {
    display: inline-flex;
    width: 23px;
    height: 23px;
    object-fit: cover;
    vertical-align: middle;
    margin-left: 10px;
    border: unset !important;
}
.single-product-overview figure.image img {
    border: 1px solid #AAD131;
}
@media (max-width: 768px) {
.Products-right-content {
    padding-left: 0.75rem;
}
ul.products-left-light-image li {
    display: flex;
    flex: 0 0 17%;
    margin-bottom: 24px;
}
.product-short-detail-logo-inner {
    float: unset;
}
ul.products-left-light-image li img {
    width: 100%;
    height: 100%;
}
}
@media (max-width: 767px) {
ul.products-left-light-image li {
    margin-bottom: 8px;
}
ul.products-left-light-image {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
ul.products-left-light-image li img {
    border: 1px solid #AAD131;
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.product-short-detail-logo-inner ul li img {
    height: 60px;
    width: 60px;
    object-fit: contain;
}
.product-short-detail-logo-inner ul {
    align-self: center;
    justify-content: center;
}
.Products-right-content-product-short-decription .Products-short-decription-left {
    flex: 0 0 100%;
}
.Products-right-content-product-short-decription .Products-short-decription-right {
    flex: 0 0 100%;
    align-self: center;
    justify-content: center;
    text-align: center;
}
.Products-short-decription-right h6 {
    text-align: center;
}
.Products-short-decription-left img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}
.Products-right-content-select-product .select {
    width: 100%;
}
.Products-right-content-select-product a button {
    width: 100%;
}
} 