.retail-location a {
    color: #555555;
}
.retail-location {
	b {
		text-align: left;
		letter-spacing: 0px;
		color: #4D4333;
		width: 100%;
		display: block;
		a {
			color: #648EC3;
		}
	}
	i {
		a {
			color: #648EC3;
		}
	}
}
.retail-location {
	i {
		font-weight: bold;
	}
}
.retail-location {
	ul {
		padding-left: 16px;
		li {
			list-style: disc;
			a {
				text-align: left;
				text-decoration: underline;
				letter-spacing: 0px;
				color: #4D4333 !important;
				line-height: 30px;
			}
		}
	}
}
.retail-location-buy-product {
	font-weight: 400 !important;
	color: #191919;
}
@media (max-width: 768px) {
.retail-location {
	.column {
		&.is-6 {
			width: 50%;
			float: left;
		}
	}
}	
}
@media (max-width: 767px) {
.retail-location {
	ul {
		li {
			a {
				font-size: 13px;
				line-height: normal;
				margin-bottom: 12px;
				display: block;
			}
		}
	}
}
.retail-location-buy-product {
    font-size: 14px;
}
}

