---
---
@font-face {
  font-family: 'Custom_Cornhusker';
  src: url('../fonts/Cornhusker Regular.eot');
  src: local('☺'), url('../fonts/Cornhusker Regular.woff') format('woff'), url('../fonts/Cornhusker Regular.ttf') format('truetype'), url('../fonts/Cornhusker Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
.chefjoey-banner-home {
  background: url('../images/chefjoeybanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  img {
    object-fit: cover;
    width: 28px;
    height: 28px;
    display: inline-flex;
    vertical-align: middle;
    margin-top: -5px;
  }
}
.chef-joeys-nav {
  a {
    &.navbar-item {
      font: normal normal normal 34px/48px Custom_Cornhusker;
      letter-spacing: 0px;
      color: #191919;
      padding-bottom: 2px;
    }
  }
  .navbar-brand {
    img {
      width: 215px !important;
      object-fit: cover;
      padding: 0px;
      min-height: 194px !important;
      position: inherit;
      margin-top: -110px;
      bottom: -42px;
    }
  }
  .navbar-start {
    margin-left: 50px;
    a {
      &.navbar-item {
        margin-right: 50px;
      }
    }
  }
}
section {
  &.main-delta-page {
    .chef-joeys-nav {
      background-color: #AAD131 !important;
      margin-top: 70px;
      padding: 14px 0px;
      box-shadow: 0px 2px 2px #00000029;
      .container {
        &.is-max-desktop {
          max-width: 1100px;
        }
      }
    }
  }
  &.chefjoey-banner-home {
    h1 {
      margin-top: 35px;
      font: normal normal normal 34px/45px 'Custom_FFMetaSerif';
      letter-spacing: 0px;
      color: #191919;
      font-weight: 700;
    }
  }
}
.chefjoey-banner-home-bottom-part {
  background-color: #AAD131;
  padding: 20px 0px;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 14px;
  &:before {
    content: "";
    top: 29px;
    background: url('../images/chef-goey-border1.png') no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-size: contain;
    background-position: bottom center;
    z-index: 1;
  }
  button {
    width: 194px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border-radius: 4px;
    letter-spacing: 0px;
    color: #191919 !important;
    font-size: 20px;
    box-shadow: 3px 3px 0px #648EC3;
    position: relative;
    border: 0;
    z-index: 1;
    &:before {
      content: "";
      bottom: -3px;
      left: 3px;
      right: 0;
      position: absolute;
      box-shadow: 3px 3px 0px #BF1B3F;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
}
.chef-joeys-about-home {
  background-color: #DEEBF8;
  padding-top: 100px;
  position: relative;
  h1 {
    font: normal normal normal 46px/61px Cornhusker;
    letter-spacing: 0px;
    color: #191919;
    text-transform: uppercase;
  }
  h2 {
    font-size: 10px;
    font: normal normal normal 46px/44px Custom_Cornhusker;
    letter-spacing: 0px;
    color: #191919;
    text-transform: uppercase;
    border-bottom: 2px solid #AAD131;
    box-shadow: 0px 2px 0px #648ec3;
    position: relative;
    width: 260px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -4px;
      width: 100%;
      box-shadow: 0px 2px 0px #bf1b3f;
      height: 100%;
    }
  }
  .container {
    &.is-max-desktop {
      max-width: 1100px;
    }
  }
}
.chef-joeys-about-home {
  p {
    letter-spacing: 0px;
    color: #191919;
    font-size: 16px;
    line-height: 24px;
  }
}
.chef-joeys-about-home {
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    background: url('../images/chefgoey-border-stock-ps.png') no-repeat;
    left: 0;
    right: 0;
    top: 29px;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: bottom center;
  }
}
.chef-joeys-ourproduct-home {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 140px;
  h2 {
    font-size: 10px;
    font: normal normal normal 46px/44px Custom_Cornhusker;
    letter-spacing: 0px;
    color: #191919;
    text-transform: uppercase;
    border-bottom: 2px solid #AAD131;
    box-shadow: 0px 2px 0px #648ec3;
    position: relative;
    margin-bottom: 50px !important;
    &:before {
      content: "";
      position: absolute;
      display: block;
      bottom: -4px;
      width: 100%;
      box-shadow: 0px 2px 0px #bf1b3f;
      height: 100%;
    }
  }
}
.chef-joeys-ourproduct-home {
  h3 {
    &.title {
      img {
        display: inline-flex;
        width: 23px;
        height: 23px;
        object-fit: cover;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
}
.chef-joeys-ourproduct-home {
  figure {
    &.image {
      img {
        &.img-product-main {
          border: 1px solid #AAD131;
        }
      }
    }
  }
}
.Products-box {
  margin-bottom: 20px;
  h3 {
    &.title {
      text-align: left;
      letter-spacing: 0px;
      color: #191919;
      font-size: 23px;
      line-height: 39px;
      padding-top: 5px;
    }
  }
}
.chef-goey-footer-inner {
	.column {
		&.is-3 {
			&.has-text-centered {
				img {
					width: 179px;
					height: 162px;
				}
			}
		}
	}
}
.chef-goey-footer {
	.chef-goey-footer-inner {
		h6 {
			text-transform: uppercase;
			font-family: Custom_Cornhusker !important;
			font-size: 24px !important;
		}
	}
}
.chef-goey-stay-now {
	h1 {
		text-transform: uppercase;
		font-family: 'Custom_Cornhusker';
		font-size: 46px !important;
		font-weight: 500;
		color: #191919 !important;
	}
}
.chef-goey-stay-now {
	position: relative;
	background-color: #DEEBF8;
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		background: url('../images/chefgoey-border-stock-ps.png') no-repeat;
		left: 0;
		right: 0;
		top: 29px;
		width: 100%;
		height: 100%;
		background-position: bottom center;
		background-size: contain;
		z-index: 0;
	}
	&:after {
		content: "";
		position: absolute;
		background: url('../images/chefgoey-boder-ps.png') no-repeat;
		left: 0;
		right: 0;
		top: -17px;
		width: 100%;
		height: 100%;
		background-position: center top;
		background-size: contain;
		z-index: -1;
	}
}
.chef-goey-stay-now {
	h1 {
		border-bottom: 2px solid #AAD131 !important;
		box-shadow: 0px 2px 0px #648ec3 !important;
		width: 400px;
		margin: 0 auto;
		&:before {
			content: "";
			display: block;
			width: 100% !important;
			box-shadow: 0px 2px 0px #bf1b3f;
			height: 100%;
			background: unset !important;
			border: 0 !important;
			bottom: -4px !important;
		}
	}
}
.chef-goey-stay-now {
	p.body1 {
    	color: #191919 !important;

	}
}
.chef-goey-stay-now {
	p {
		&.body2 {
			input {
				border: 1px solid #B7B7B7 !important;
				border-radius: 4px !important;
				background-color: #F4F4F4 !important;
			}
		}
	}
}
.chef-goey-stay-now {
	a {
		button {
			background: #FFFFFF 0% 0% no-repeat padding-box !important;
			border-radius: 4px !important;
			letter-spacing: 0px !important;
			color: #191919 !important;
			font-size: 16px !important;
			box-shadow: 3px 3px 0px #648ec3 !important;
			position: relative;
			border: 0 !important;
			z-index: 1;
			height: 38px !important;
			&:before {
				content: "";
				bottom: -3px;
				left: 3px;
				right: 0;
				position: absolute;
				box-shadow: 3px 3px 0px #bf1b3f;
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 4px;
			}
		}
	}
}
.chefjoey-banner-home-bottom-part button:hover, .chefjoey-banner-home-bottom-part button:focus {
	background-color: #648ec3 !important;
	transition: 0.2s ease-in;
}
.chef-goey-stay-now a button:hover, .chef-goey-stay-now a button:focus {
	background-color: #AAD131 !important;
    transition: 0.2s ease-in;
}
.chef-joeys-about-home {
	figure {
		&.image {
			img {
				height: 498px;
				object-fit: cover;
			}
		}
	}
}
section.main-delta-page .chef-goey-stay-now {
    padding-bottom: 60px !important;
}
.navbar-menu {
    background-color: unset;
    box-shadow: unset;
    padding: unset;
    display:block !important;
}
.chef-joeys-nav div#navbarBasicExample {
    align-self: center;
}
.chef-joeys-nav .navbar-start a.navbar-item:hover, .chef-joeys-nav .navbar-start a.navbar-item:focus {
    color: #fff;
    transition: 0.2s;
}
.main-delta-page .chef-joeys-nav .sticky {
    position: fixed;
    width: 100%;
    background: #AAD131;
    left: 0;
    top: 48px;
    z-index: 99;
    margin: 0px;
}
.chef-joeys-nav .sticky .navbar-start {
    justify-content: center;
}
.chef-joeys-nav .sticky .navbar-start a.navbar-item {
    align-self: center;
    text-align: center;
    float: unset;
}
@media (max-width: 1024px) {
.chef-joeys-nav div#navbarBasicExample {
    margin: 0px;
}
.chefjoey-banner-home-bottom-part:before {
    top: 23px;
}
.chefjoey-banner-home {
    background-position: bottom center;
}
.chef-joeys-about-home:before {
    top: 25px;
}
.chef-goey-stay-now:after {
    top: -14px;
}
.chef-goey-stay-now:before {
    top: 24px;
}
.navbar-start ul li a {
    padding: 8px 20px;
}	
}
@media (max-width: 768px) {
.chef-joeys-nav .navbar-start a.navbar-item:hover, .chef-joeys-nav .navbar-start a.navbar-item:focus {
    background: unset;
}
.chefjoey-product-top-heading h2 {
    font-size: 36px !important;
}
.chef-joeys-nav a.navbar-burger {
    margin-top: 21px;
    margin-right: 20px;
    border-radius: 4px;
}
.chefjoey-banner-home-bottom-part:before {
    top: 15px;
}
.chef-joeys-about-home:before {
    top: 19px;
}
.chef-goey-stay-now:before {
    top: 19px;
}
.chef-goey-stay-now:after {
    top: -9px;
}
.chef-goey-footer-inner .column.is-3.has-text-centered img {
    object-fit: contain;
}
.chef-joeys-nav .navbar-menu {
    display: none !important;
}
.chef-joeys-nav .navbar-menu.is-active {
    display: block !important;
}
.chef-joeys-nav a.navbar-item {
    font: normal normal normal 34px/48px Custom_Cornhusker;
    text-align: center;
    margin: 0 !important;
}
.chef-joeys-nav .navbar-start {
    margin-left: 0;
}
}
@media (max-width: 767px) {
.chefjoey-product-top-heading:before {
    top: 28px !important;
}
.chefjoey-product-top-heading:before {
    background-size: unset !important;
}
.chef-joeys-nav a.navbar-burger {
    margin-top: 0px;
    margin-right: 10px;
}
.chef-goey-stay-now h1 {
    width: 300px;
}
.Products-box h3.title {
    text-align: center;
}
.chef-goey-stay-now a button {
    margin: 0px !important;
}
.chef-goey-stay-now:before {
    top: 9px;
}
.chef-goey-stay-now:after {
    top: -3px;
}
.chef-joeys-ourproduct-home {
    padding-top: 50px;
    padding-bottom: 50px;
}
.chef-joeys-about-home:before {
    top: 7px;
}
.chefjoey-banner-home-bottom-part:before {
    top: 7px;
}
.chef-joeys-nav .navbar-brand img {
    width: 100px !important;
    min-height: 90px !important;
}
section.chefjoey-banner-home h1 {
    margin-top: 2px;
    font: normal normal normal 24px/30px 'Custom_FFMetaSerif';
}
.chefjoey-banner-home {
    height: 320px;
}
.chefjoey-banner-home-bottom-part button {
    font-size: 16px;
}
.chef-joeys-about-home {
    padding-top: 50px;
}
.chef-joeys-about-home h2 {
    font: normal normal normal 34px/44px Custom_Cornhusker;
    margin: 0 auto;
    text-align: center;
}
.chef-joeys-about-home p {
    font-size: 14px;
    text-align: center;
}
.chef-joeys-about-home figure.image img {
    height: 200px;
}
.chef-joeys-ourproduct-home h2 {
    font: normal normal normal 34px/44px Custom_Cornhusker;
    text-align: center;
}
.Products-box {
    margin-bottom: 0px;
}
.Products-box h3.title {
    margin-bottom: 0px !important;
}
.chef-goey-stay-now h1 {
    font-size: 34px !important;
}
section.main-delta-page .chef-joeys-nav {
    margin-top: 30px;
}
}






