---
---
@font-face {
	font-family: 'Custom_HelveticaNeueLTPro';
	src: url('fonts/HelveticaNeueLTPro-Roman.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Roman.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Custom_HelveticaNeueLTPro';
	src: url('fonts/HelveticaNeueLTPro-It.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-It.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-It.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-It.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Custom_HelveticaNeueLTPro';
	src: url('fonts/HelveticaNeueLTPro-Bd.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Bd.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Bd.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Custom_HelveticaNeueLTPro';
	src: url('fonts/HelveticaNeueLTPro-Hv.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Hv.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Hv.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Hv.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
.natures-lab-nav {
	background: #FFFFFF 0% 0% no-repeat padding-box !important;
	margin-top: 114px;
	padding: 14px 0px;
	box-shadow: 0px 2px 2px #00000029;
	img {
	object-fit: contain;
    padding: 0px;
    position: inherit;
    margin-top: -110px;
    bottom: -59px;
    width: 250px !important;
    min-height: 250px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #fff;
    border-radius: 100%;
}
}
.natures-lab-nav .navbar-brand {
	justify-content: center;
	width: 100%;
	height: 83px;
}
section {
	&.natures-lab-banner {
		background: url('../images/bg-natureslab-psychadelic@2x.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
}
section {
	&.natures-lab-banner {
		h1 {
			font: normal normal 900 53px/59px Custom_HelveticaNeueLTPro;
			letter-spacing: 0px;
			color: #FFFFFF;
			text-shadow: 1px 1px 1px #000000B5;
		}
	}
}
.natures-lab-banner-left-content {
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 80px;
}
.natures-lab-nav {
	a {
		&.navbar-item {
			text-align: left;
			font: normal normal 900 20px/59px Custom_HelveticaNeueLTPro;
			letter-spacing: 0px;
			color: #004785;
			padding: 0px 40px;
			padding-top: 30px;
		}
	}
	.navbar-brand {
		width: 238px;
	}
	.navbar-start {
		margin: 0 auto;
	}
}
nav.navbar.natures-lab-nav {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    margin-top: 114px;
    padding: 14px 0px;
    box-shadow: 0px 2px 2px #00000029;
    padding-bottom: 0;
}
.natures-lab-banner-right-content {
    position: relative;
}
.natures-lab-banner-right-content {
	&:before {
		content: "";
		background: url('../images/extract@2x.png');
		position: absolute;
		right: -20px;
		bottom: -28px;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 0;
	}
}

.natures-lab-about-home {
	float: left;
	width: 100%;
	padding-top: 100px;
    padding-bottom: 77px;
}
.natures-lab-about-home {
	p {
		text-align: left;
		font: normal normal normal 16px/30px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
		color: #383838;
	}
}
.natures-lab-about-home-right-sec {
	display: flex;
	flex-direction: column;
	align-self: center;
}
.natures-product-home-inner {
	float: left;
    width: 100%;
    background-color: #004785;
    padding-bottom: 0px;
}
.natures-product-home-inner {
	.natures-product-home-heading-main {
		font: normal normal bold 30px/40px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
		color: #FFFFFF;
		position: relative;
		margin-bottom: 70px;
		&:before {
			content: "";
			left: 35px;
			background-color: #F140B1;
			width: 34%;
			height: 2px;
			position: absolute;
			top: 19px;
		}
		&:after {
			content: "";
			right: 35px;
			background-color: #F140B1;
			width: 34%;   
			height: 2px;
			position: absolute;
			top: 19px;
		}
	}
}
.natures-product-home-inner {
	h3 {
		text-align: left;
		font: normal normal bold 24px/18px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
		color: #FFFFFF;
		margin-bottom: 14px;
	}
	p {
		text-align: left;
		font: normal normal normal 16px/30px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
		color: #FFFFFF;
	}
}
.natures-product-home-inner {
	.column {
		img {
			display: flex;
			height: 100%;
		}
		&.is-3 {
			image {
				height: 100%;
				display: flex;
			}
		}
		figure {
			&.image {
				display: flex;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
.natures-product-home-inner {
	.is-desktop {
		margin-bottom: 30px;
	}
}
.natures-product-details-as {
	font: normal normal bold 30px/40px Custom_HelveticaNeueLTPro;
	letter-spacing: 0px;
	color: #FFFFFF;
	position: relative;
	margin-bottom: 60px !important;
	&:after {
		content: "";
    right: 7px;
    background-color: #F140B1;
    width: 34%;
    height: 2px;
    position: absolute;
    top: 19px;
	}
	&:before {
		content: "";
    left: 7px;
    background-color: #F140B1;
     width: 34%;
    height: 2px;
    position: absolute;
    top: 19px;
	}
}
.natures-product-details-as-main-outer {
	float: left;
	width: 100%;
	background-color: #004785;
	padding-top: 20px;
	padding-bottom: 60px;
}
a {
	&.natures-product-details-as-heading-content {
		text-align: left;
		font: normal normal bold 22px/44px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
		color: #FFFFFF;
		margin-top: 10px;
		display: block;
	}
}
.natures-footer-top-sec {
	background: url('../images/bg-natureslab-psychadelic@2x.jpg') no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	float: left;
	padding-top: 100px;
	padding-bottom: 100px;
	h1 {
		font: normal normal bold 37px/49px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
		color: #FFFFFF;
		text-shadow: 1px 1px 1px #00000086;
		margin-bottom: 40px !important;
	}
	p {
		text-align: center;
		font: normal normal normal 16px/24px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
		color: #F8F8F8;
		text-shadow: 1px 1px 1px #0000006E;
		&.body1 {
			&.mb-12 {
				margin-bottom: 50px;
			}
		}
	}
	input[type="text"] {
		background: #F4F4F4 0% 0% no-repeat padding-box;
		border: 1px solid #B7B7B7;
		border-radius: 4px;
		width: 203px;
		height: 44px;
		margin-right: 12px;
	}
	button {
		width: 105px;
		height: 44px;
		background: #004785 0% 0% no-repeat padding-box !important;
		border: 1px solid #FFFFFF !important;
		border-radius: 4px;
		font: normal normal bold 16px/33px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
	}
}
footer {
	&.footer {
		&.natures-footer-bottom-sec {
			width: 100%;
			float: left;
			padding-bottom: 60px;
		}
	}
}
.natures-footer-bottom-inner-sec {
	padding-top: 0;
    padding-bottom: 0;
	.column {
		&.is-3 {
			&.has-text-centered {
				img {
					width: 179px;
					height: 162px;
					float: left;
				}
			}
		}
	}
	h6 {
		font: normal normal bold 18px/44px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
		color: #004785;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			border: 0.5px solid #004785;
			bottom: 0;
			width: 100%;
			background-color: #004785;
		}
	}
	ul {
		li {
			a {
				text-align: left;
				font: normal normal normal 16px/30px Custom_HelveticaNeueLTPro;
				letter-spacing: 0px;
				color: #555555;
			}
		}
	}
	.social-icon {
		ul {
			li {
				display: inline-block;
				margin-right: 14px;
				margin-top: 5px;
			}
		}
	}
}
.natures-footer-bottom-inner-sec {
	.column {
		&.is-3 {
			padding-left: 60px;
			&.has-text-centered {
				padding-left: 0.75rem;
			}
		}
	}
}
.footer-copyright-sec {
	p {
		font: normal normal normal 16px/24px Custom_HelveticaNeueLTPro;
		letter-spacing: 0px;
		color: #555555;
	}
}
section {
	&.footer-copyright-sec {
		ul {
			li {
				a {
					font: normal normal normal 16px/24px Custom_HelveticaNeueLTPro;
					letter-spacing: 0px;
					color: #555555;
				}
			}
		}
	}
}
.natures-lab-nav-in-mobile {
    background: #fff !important;
}
.natures-lab-nav-in-mobile .navbar-start a.navbar-item {
    text-align: left;
    font: normal normal 900 20px/59px Custom_HelveticaNeueLTPro;
    letter-spacing: 0px;
    color: #004785;
    padding: 0px 40px;
    padding-top: 30px;
}
nav.navbar.is-transparent.natures-lab-nav-in-mobile {
    background: #fff !important;
    display: none;
}
.natures-lab-nav-in-mobile .navbar-brand img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    position: relative;
    min-height: 130px !important;
}
.natures-lab-nav-in-mobile .navbar-brand {
    height: 150px;
}
.natures-product-single-page-warp {
    margin-top: 130px;
}
.natures-product-lab-nav-wrap {
    margin-top: 80px !important;
    box-shadow: unset !important;
}
.natures-product-lab-nav-wrap .navbar-brand img {
    position: relative;
    top: 13px;
}
.natures-product-single-page-warp .Products-right-content h3 {
    font-family: 'Custom_HelveticaNeueLTPro';
}
.natures-product-single-page-warp .Products-right-content p {
    font-family: 'Custom_HelveticaNeueLTPro';
}
.natures-product-single-page-warp .Products-right-content h4 {
    font-family: 'Custom_HelveticaNeueLTPro' !important;
}
.natures-product-single-page-warp .Products-right-content button {
    height: 48px;
    background: #004785 0% 0% no-repeat padding-box !important;
    border: 1px solid #FFFFFF !important;
    font: normal normal bold 16px/33px Custom_HelveticaNeueLTPro;
    letter-spacing: 0px;
    border-radius: 4px !important;
    box-shadow: unset;
}
.natures-product-single-page-warp .Products-right-content button:before {
    display: none !important;
}
.natures-product-single-page-warp .Products-right-content button:after {
    display: none !important;
}
.nature-single-product-overview-wrap .Products-box h3 {
    font-family: 'Custom_HelveticaNeueLTPro';
}
.custom-naturel {
    margin-bottom: 100px;
}
.naturel-single-custom h2 {
    font-family: Custom_HelveticaNeueLTPro !important;
}
.naturel-single-custom .Products-box h3 {
    font-family: Custom_HelveticaNeueLTPro !important;
}
.natures-lab-nav .sticky {
	position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    top: 48px;
    z-index: 99;
    padding: 10px 0px;
    justify-content: center;
}
.natures-lab-nav .sticky .navbar-brand {
    display: none;
}
.natures-lab-nav .sticky a.navbar-item {
    padding-top: 0;
}
@media (max-width: 1024px) {
.natures-lab-nav img {
    width: 210px !important;
    min-height: 210px !important;
}
nav.navbar.natures-lab-nav {
    margin-top: 70px;
}
section.natures-lab-banner h1 {
    font-size: 40px;
}
.natures-product-home-inner .natures-product-home-heading-main:before {
    width: 30%;
    left: 8px;
}
.natures-product-home-inner .natures-product-home-heading-main:after {
    width: 30%;
    right: 8px;
}
.natures-lab-nav a.navbar-item {
	display: inherit;
}
}
@media (max-width: 800px) {
.natures-lab-banner-right-content {
    display: none;
}
.natures-lab-banner-left-content:before {
    content: "";
    background: url('../images/extract@2x.png');
    position: absolute;
    right: 0px;
    bottom: -28px;
    width: 240px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    margin: 0 auto;
}
nav.navbar.natures-lab-nav {
    margin-top: 20px;
}
nav.navbar.natures-lab-nav {
    box-shadow: unset;
}
.natures-lab-nav a.navbar-item {
    width: auto;
    max-width: max-content;
    margin: 0px !important;
    float: left;
    padding: 0 25px;
    font-size: 16px;
}
}
@media (max-width: 768px) {
.natures-product-single-page-warp {
    margin-top: 10px;
}
.natures-lab-nav-in-mobile-wrap {
    margin-top: 30px;
}
.natures-lab-nav-in-mobile .navbar-start a.navbar-item {
    text-align: center;
    padding-top: 0px;
}
.natures-lab-nav-in-mobile .navbar-burger {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    background-color: #004785;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 0px;
    margin-right: 22px;
}
.natures-lab-nav {
    display: none;
}
.natures-lab-nav-in-mobile {
    display: block !important;
}
.natures-lab-nav-in-mobile .navbar-menu {
    display: none !important;
}
.natures-lab-nav-in-mobile .navbar-menu.is-active {
    display: block !important;
}
.natures-lab-banner-left-content {
    position: relative;
}
.natures-lab-banner-left-content:before {
    content: "";
    background: url('../images/extract@2x.png');
    position: absolute;
    right: 0px;
    bottom: -28px;
    width: 240px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    margin: 0 auto;
}
.natures-lab-banner-left-content {
    padding-top: 70px;
    padding-bottom: 130px;
}
.natures-lab-nav a.navbar-burger {
    display: none;
}
nav.navbar.natures-lab-nav {
    box-shadow: unset;
}
section.natures-lab-banner .columns.is-multiline.is-centered {
    margin: 0px;
}
.natures-lab-banner-right-content {
    display: none;
}
.natures-lab-banner-left-content {
    padding-left: 0.75rem;
    width: 100%;
    text-align: center;
}
.natures-lab-nav .navbar-brand {
    margin: 0px;
    float: left;
}
section.natures-lab-banner {
    margin-top: 20px;
}
.natures-lab-nav a.navbar-item {
    width: auto;
    max-width: max-content;
    margin: 0px !important;
    float: left;
    padding: 0 25px;
    font-size: 16px;
}
.natures-lab-nav img {
    width: 100px !important;
    height: 100px !important;
    min-height: 100px !important;
    float: left;
}
nav.navbar.natures-lab-nav {
    margin-top: 20px;
}
.natures-product-home-inner .natures-product-home-heading-main:before {
    left: 0px;
    width: 26%;
}
.natures-product-home-inner .natures-product-home-heading-main:after {
    right: 0px;
    width: 26%;
}
.natures-footer-bottom-inner-sec .column {
    width: 25%;
    margin: 0;
    float: left;
    padding-left: 0.75rem !important;
}
.natures-footer-bottom-sec section.footer-copyright-sec .column.is-6.has-text-right {
    display: none;
}
.natures-footer-bottom-sec .footer-copyright-sec .column.is-6.has-text-left {
    width: 100%;
    text-align: center;
}
.natures-lab-about-home img {
    height: 350px;
    object-fit: cover;
}
.natures-product-home-inner img {
    height: 350px !important;
    object-fit: cover;
}
.natures-product-details-as-main-outer img {
    height: 350px;
    object-fit: cover;
}

footer.footer.natures-footer-bottom-sec {
    padding-bottom: 40px;
}
.natures-footer-top-sec {
    padding-top: 80px;
    padding-bottom: 80px;
}
.natures-lab-banner-left-content {
    overflow: hidden;
}
.natures-lab-banner-left-content:before {
    right: -6px;
    bottom: 0px;
}
}
@media (max-width: 767px) {

.natures-lab-banner-left-content {
    overflow: hidden;
}
.natures-lab-banner-left-content:before {
    right: -6px;
    bottom: 0px;
}
.natures-lab-nav-in-mobile .navbar-start a.navbar-item {
    font: normal normal 900 16px/46px Custom_HelveticaNeueLTPro;
}
.natures-lab-nav-in-mobile .navbar-brand {
    height: 100px;
}
.natures-lab-nav-in-mobile .navbar-start {
    padding-bottom: 20px;
}
section.natures-lab-banner {
    margin-top: 0px;
}
.natures-lab-nav-in-mobile .navbar-burger {
	margin-right: 15px;
    width: 40px;
    height: 40px;
}
.natures-lab-nav-in-mobile .navbar-brand img {
    width: 85px;
    height: 85px;
    min-height: 85px !important;
}
.natures-lab-nav img {
    width: 100px !important;
    height: 100px !important;
    min-height: 100px !important;
    float: left;
    min-width: 100px;
}
.natures-lab-nav .navbar-brand a.navbar-item {
    width: 100% !important;
}
.natures-lab-banner-left-content {
    padding-top: 90px;
    padding-bottom: 120px;
}
.natures-lab-nav .navbar-brand {
    margin: 0px;
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    margin: auto;
}
.natures-lab-nav a.navbar-item {
    width: auto;
    max-width: max-content;
    margin: 0px !important;
    float: left;
    padding: 0 8px;
    font-size: 14px;
    text-align: center;
    width: 25% !important;
    line-height: normal;
    align-self: center;
    min-width: 25%;
}
section.natures-lab-banner h1 {
    font-size: 30px;
    line-height: normal;
}
.natures-lab-about-home p {
    font-size: 14px;
    line-height: 24px;
}
.natures-lab-about-home img {
    height: 200px;
}
.natures-product-home-inner .natures-product-home-heading-main {
    font: normal normal bold 24px/40px Custom_HelveticaNeueLTPro;
}
.natures-product-home-inner .natures-product-home-heading-main:before {
    width: 16%;
}
.natures-product-home-inner .natures-product-home-heading-main:after {
    width: 16%;
}
.natures-product-home-inner .natures-product-home-heading-main {
    margin-bottom: 40px;
}
.natures-product-home-inner img {
    height: 200px !important;
}
.natures-product-home-inner p {
    font-size: 14px;
    line-height: 24px;
}
.natures-product-details-as {
    font: normal normal bold 24px/40px Custom_HelveticaNeueLTPro;
}
.natures-product-details-as:before {
    width: 22%;
}
.natures-product-details-as:after {
    width: 22%;
}
.natures-product-details-as-main-outer img {
    height: 250px;
}
a.natures-product-details-as-heading-content {
    margin-top: 0;
}
.natures-product-details-as-main-outer .column.is-4 h3.title {
    margin-bottom: 0px !important;
}
.natures-footer-top-sec h1 {
    font: normal normal bold 24px/49px Custom_HelveticaNeueLTPro;
    margin-bottom: 20px !important;
}
.natures-footer-top-sec p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 35px !important;
}
.natures-footer-top-sec input[type="text"] {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
}
.natures-footer-top-sec {
    padding-top: 50px;
    padding-bottom: 50px;
}
.natures-footer-top-sec p {
    margin-bottom: 24px !important;
}
.natures-footer-bottom-inner-sec .column {
    width: 100%;
    text-align: center;
}
.natures-footer-bottom-inner-sec .column.is-3.has-text-centered img {
    width: 150px;
    float: none;
}
.natures-footer-bottom-inner-sec h6:before {
    bottom: -5px;
}
.natures-footer-bottom-inner-sec h6 {
    margin-bottom: 10px !important;
}
.natures-lab-about-home {
    padding-top: 70px;
    padding-bottom: 46px;
}
}














