{% if page.menubar or page.menubar_toc %}
    {% assign has_left_sidebar = true %}
{% endif %}

{% if page.show_sidebar and has_left_sidebar  %} 
    {% assign content_width = 'is-4' %} 
{% elsif page.show_sidebar or has_left_sidebar %} 
    {% assign content_width = 'is-8' %} 
{% else %} 
    {% assign content_width = 'is-12' %} 
{% endif %}

<!DOCTYPE html>
<html {% if site.fixed_navbar %} class="has-navbar-fixed-{{ site.fixed_navbar }}" {% endif %}>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% if page.show_hero %}
        {% include hero.html %}
    {% endif %}
    {% include callouts.html %}
    <section class="main-delta-page">                        
                    {{ content }}              
    </section>
    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
    <script src="{{ site.url-hub }}{{ site.devbaseurl-hub }}/assets/js/app.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
  </body>
</html>

